@charset "utf-8";

/*
   Tutorial 5
   Coding Challenge 1

   Filename: code5-1_media.css

*/

/* Base Styles */

/* Mobile Styles */

@media only screen and (max-width: 500px) {
  article img {
    display: none;
  }

  ul.submenu {
    text-align: center;
  }
}

/* Tablet Styles */

@media only screen and (min-width: 501px) {
  nav {
    float: left;
    width: 130px;
    height: 400px;
    margin: 30px 25px 0px 0px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 769px) {
  nav {
    float: none;
    width: 100%;
    height: auto;
    margin: 0;
  }

  ul.mainmenu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  ul.mainmenu li {
    flex: 0 1 120px;
  }
}
