@charset "utf-8";

/*
   Tutorial 4
   Coding Challenge 1
   
   Filename: code4-1_back.css

*/

figure {
  padding: 20px;
  border: 20px ridge rgb(52, 52, 180);
  background: url(ws.png) bottom right / 45% no-repeat, rgb(52, 52, 180, 0.3);
  box-shadow: 5px 10px 15px;
}

figcaption {
  font-size: 1.8em;
  text-align: center;
  border-bottom: 2px solid rgb(52, 52, 180);
}
