@charset "utf-8";

/*
   Tutorial 5
   Coding Challenge 3

   Filename: code5-3_print.css

*/

@page {
  size: 8.5in 11in;
  margin: 1in;
}

/* Hypertext Styles */
a {
  text-decoration: none;
}

a::after {
  content: "   [ " attr(href) " ]";
  display: inline-block;
  margin-left: 20px;
  word-wrap: break-word;
}

nav {
  page-break-inside: avoid;
}

nav ol li {
  line-height: 0.3in;
}
