@charset "utf-8";

/*
   Tutorial 6
   Coding Challenge 1
   
   Author:   Coding Challenge 1   
   Date:     2021-03-01
   Filename: code6-1_table.css

*/

table {
  border: 20px groove gray;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid gray;
  padding: 5px;
}

caption {
  caption-side: top;
  text-align: left;
  font-size: 1.5em;
}

col#firstCol {
  background: yellow;
  width: 150px;
}

col#hourCols {
  width: 75px;
}

thead {
  background: aqua;
}
