@charset "utf-8";

/*
   Tutorial 5
   Coding Challenge 2

   Filename: code5-2_txt_flex.css

*/

section {
  display: flex;
  flex-flow: row wrap-reverse;
}

div {
  flex: 1 1 200px;
}
