@charset "utf-8";

/*
   Tutorial 6
   Review Assignment

   Columns Style Sheet

   Filename:         dlr_columns2.css

*/

/* Column Styles */
@media screen and (min-width: 641px) {
  p {
    column-count: 3;
    column-gap: 20px;
    column-rule: 1px solid black;
  }
}
